@import "tailwindcss";

@layer base {
    body {
        @apply bg-[#f9f9f9] text-black antialiased;
        font-family: 'Inter', system-ui, -apple-system, sans-serif;

        position: relative;
        min-height: 100vh;

        background-image: url("./assets/Background.jpg");
        background-size: cover;
        background-position: center;
    }

    body::before {
        content: "";
        position: absolute;
        inset: 0;

        /* overlay putih dengan opasitas 60% */
        background-color: rgba(255, 255, 255, 0.1);

        z-index: -1;
    }
}